In [1]:
import pandas as pd
from nltk.sentiment import SentimentIntensityAnalyzer
from nltk import download
download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\juanc.DESKTOP-
[nltk_data]     LGMDQP1\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
path=r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry 01\Datos Limpios\users_reviews_clean.parquet"

In [3]:
df=pd.read_parquet(path)
df

,user_id,item_id,helpful,recommend,review
0,76561197970982479,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,75,True,I know what you think when you see this title ...
4,js41637,227300,0,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59328,76561198312638244,70,No ratings yet,True,a must have classic from steam definitely wort...
59329,76561198312638244,362890,No ratings yet,True,this game is a perfect remake of the original ...
59330,LydiaMorley,273110,50,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,730,No ratings yet,True,:D
59332,LydiaMorley,440,No ratings yet,True,so much fun :D

In [4]:


# Inicializar el analizador de sentimientos de NLTK
sia = SentimentIntensityAnalyzer()


def analyze_sentiment(review):
    if review is None or pd.isna(review):
        return 1  # Valor 1 para reseñas ausentes o nulas
    else:
        # Calcular el puntaje de sentimiento utilizando NLTK
        sentiment_score = sia.polarity_scores(review)['compound']
        if sentiment_score < -0.05:
            return 0  
        elif sentiment_score > 0.05:
            return 2  
        else:
            return 1  

df['sentiment_analysis'] = df['review'].apply(analyze_sentiment)


print(df)

                 user_id item_id         helpful recommend  \
0      76561197970982479    1250  No ratings yet      True
1      76561197970982479   22200  No ratings yet      True
2      76561197970982479   43110  No ratings yet      True
3                js41637  251610              75      True
4                js41637  227300               0      True
...                  ...     ...             ...       ...
59328  76561198312638244      70  No ratings yet      True
59329  76561198312638244  362890  No ratings yet      True
59330        LydiaMorley  273110              50      True
59331        LydiaMorley     730  No ratings yet      True
59332        LydiaMorley     440  No ratings yet      True

                                                  review  sentiment_analysis
0      Simple yet with great replayability. In my opi...                   2
1                   It's unique and worth a playthrough.                   2
2      Great atmosphere. The gunplay can be a bit chu...                   2
3      I know what you think when you see this title ...                   2
4      For a simple (it's actually not all that simpl...                   2
...                                                  ...                 ...
59328  a must have classic from steam definitely wort...                   2
59329  this game is a perfect remake of the original ...                   2
59330  had so much fun plaing this and collecting res...                   2
59331                                                 :D                   2
59332                                     so much fun :D                   2

[59333 rows x 6 columns]

In [5]:
df=df.drop(["review"], axis=1)

In [6]:
df

                 user_id item_id         helpful recommend  sentiment_analysis
0      76561197970982479    1250  No ratings yet      True                   2
1      76561197970982479   22200  No ratings yet      True                   2
2      76561197970982479   43110  No ratings yet      True                   2
3                js41637  251610              75      True                   2
4                js41637  227300               0      True                   2
...                  ...     ...             ...       ...                 ...
59328  76561198312638244      70  No ratings yet      True                   2
59329  76561198312638244  362890  No ratings yet      True                   2
59330        LydiaMorley  273110              50      True                   2
59331        LydiaMorley     730  No ratings yet      True                   2
59332        LydiaMorley     440  No ratings yet      True                   2

[59333 rows x 5 columns]

In [9]:
df.to_parquet(r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry 01\sentiment_analysis\users_reviews_sentiment.parquet")