In [1]:
import pandas as pd
from fastapi import APIRouter

In [2]:
df= pd.read_parquet(r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry 01\Datos Limpios\output_games_clean.parquet")

In [3]:
df

,id,app_name,developer,genres,price,release_date
0,761140,Lost Summoner Kitty,Kotoshiro,Action,4.99,2018
1,643980,Ironbound,Secret Level SRL,Indie,0.00,2018
2,670290,Real Pool 3D - Poolians,Poolians.com,Casual,0.00,2017
3,767400,弹炸人2222,彼岸领域,Action,0.99,2017
4,773570,Log Challenge,None,None,2.99,<NA>
...,...,...,...,...,...,...
32130,773640,Colony On Mars,Nikita 'Ghost_RUS',Casual,1.99,2018
32131,733530,LOGistICAL: South Africa,Sacada,Casual,4.99,2018
32132,610660,Russian Roads,Laush Dmitriy Sergeevich,Indie,1.99,2018
32133,658870,EXIT 2 - Directions,"xropi,stev3ns",Casual,4.99,2017
32134,681550,Maze Run VR,None,None,4.99,<NA>

In [4]:
def desarrollador(developer:str):
    filtro_developer= df[df["developer"] == developer]
    cantidad_items=filtro_developer["id"].count()
    free_por_año= filtro_developer.groupby("release_date").agg({
        "id": "count",
        'price': lambda x: ((x == 0.00).mean() * 100)
        
    }).reset_index()
    free_por_año.rename(columns={"id":"cantidad_items"},inplace=True)
    free_por_año.rename(columns={"price":"contenido_free"},inplace=True)
    free_por_año.rename(columns={"release_date":"año"},inplace=True)
    free_por_año[["año","cantidad_items","contenido_free"]]
    free_por_año["contenido_free"]=free_por_año["contenido_free"].astype(str) + "%"
    
    return free_por_año

In [5]:
desarrollador("Secret Level SRL")

    año  cantidad_items contenido_free
0  2018               1         100.0%